[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
ipykernel = "*"
numpy = "*"
pandas = "*"
nb-black = "*"
jinja2 = "*"
flask = "*"
matplotlib = "*"
gunicorn = "*"
nltk = "*"
vadersentiment = "*"
wordcloud = "*"
tweepy = "*"
textblob = "*"
streamlit = "*"
seaborn = "*"
plotly = "*"
wget = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
